@import url(https://fonts.googleapis.com/css?family=Shojumaru);

.navbar-brand {
    font-family: 'Shojumaru', cursive, Arial, serif;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    max-width: 275px;
    font-size: 16px;
}

html, body {
  height: 100%;
}
body {
    padding-top: 70px;
}
