<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js" th:src="@{//code.jquery.com/jquery-1.11.0.min.js}"></script>
    <!-- Bootstrap -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <link id="bs-css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" th:href="@{//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"  th:src="@{//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"  th:src="@{//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" th:src="@{//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js}"></script>
    <link rel="stylesheet" href="../static/css/divresearch.css" th:href="@{/css/divresearch.css}"/>
    <script src="../static/js/divresearch.js" th:src="@{/js/divresearch.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var tickers = /*[[${tickerList}]]*/ [];
        /*]]>*/
    </script>
</head>
<body data-spy="scroll" th:inline="text" data-ng-app="divresearch">
<!-- topbar starts -->
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="MenuController as menu">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Dividend Research</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a ng-click="menu.show('research')" href="">Research</a></li>
                <li><a ng-click="menu.show('upload')" href="">Upload</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search"/>
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="glyphicon glyphicon-tint"></i>
                        <span class="hidden-sm hidden-xs" id="themeLabel">Classic</span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" id="themes">
                        <li class="active"><a ng-click="menu.changeTheme('Classic')" href="">Classic</a></li>
                        <li><a ng-click="menu.changeTheme('Cerulean')" href="">Cerulean</a></li>
                        <li><a ng-click="menu.changeTheme('Cosmo')" href="">Cosmo</a></li>
                        <li><a ng-click="menu.changeTheme('Cyborg')" href="">Cyborg</a></li>
                        <li><a ng-click="menu.changeTheme('Darkly')" href="">Darkly</a></li>
                        <li><a ng-click="menu.changeTheme('Flatly')" href="">Flatly</a></li>
                        <li><a ng-click="menu.changeTheme('Journal')" href="">Journal</a></li>
                        <li><a ng-click="menu.changeTheme('Lumen')" href="">Lumen</a></li>
                        <li><a ng-click="menu.changeTheme('Paper')" href="">Paper</a></li>
                        <li><a ng-click="menu.changeTheme('Readable')" href="">Readable</a></li>
                        <li><a ng-click="menu.changeTheme('Sandstone')" href="">SandStone</a></li>
                        <li><a ng-click="menu.changeTheme('Simplex')" href="">Simplex</a></li>
                        <li><a ng-click="menu.changeTheme('Slate')" href="">Slate</a></li>
                        <li><a ng-click="menu.changeTheme('Spacelab')" href="">Spacelab</a></li>
                        <li><a ng-click="menu.changeTheme('Superhero')" href="">Superhero</a></li>
                        <li><a ng-click="menu.changeTheme('United')" href="">United</a></li>
                        <li><a ng-click="menu.changeTheme('Yeti')" href="">Yeti</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- topbar ends -->
<div class="container">
    <div id="research" class="view">
        Research page under construction...
    </div>
    <div id="upload" class="view well">
        <h3 th:if="${tickerList.isEmpty()}">There is no ticker listed yet.  Please add new ticker or upload a file to load tickers in batch.</h3>
        <p>Drag and drop here or
        <label id="import-manual-trigger" class="btn-link">manually upload<input type="file" id="import-file-select" class="hidden"/></label></p>
        Upload page under construction...
    </div>
</div>
</body>
</html>